Django==2.0.6
#numpy==1.14.4
#opencv-python==3.4.1.15
Pillow==5.1.0
pytz==2018.4

opencv-python==3.4.2.16
numpy>=1.14.5

#numpy==1.14.2
#opencv-contrib-python==3.4.0.12
opencv-contrib-python==3.4.7.28